/* mulish-regular - latin */

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* mulish-600 - latin */

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/mulish-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* mulish-700 - latin */

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* mulish-800 - latin */

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('../fonts/mulish-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* manrope-regular - latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/manrope-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/manrope-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/manrope-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/manrope-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/manrope-v13-latin-regular.svg#Manrope') format('svg');
    /* Legacy iOS */
}


/* manrope-600 - latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v13-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/manrope-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/manrope-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/manrope-v13-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/manrope-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/manrope-v13-latin-600.svg#Manrope') format('svg');
    /* Legacy iOS */
}

* {
    box-sizing: border-box;
}


/* GENERAL */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: --, "Arial", sans-serif;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    max-width: 1212px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}


/* STICKY-FOOTER */

.site-main {
    flex-grow: 1;
}

.site-header {
    padding: 39px 0 128px 0;
    background-color: linear-gradient(65.25deg, rgba(255, 255, 255, 0.49) -1.59%, rgba(255, 255, 255, 0.46) 99.42%);
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 466px;
    padding-left: 0;
}

.site-nav__list__item__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #150A29;
    text-decoration: none;
}

.site-header__btn {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 27px;
    background: #FD695A;
    border-radius: 50px;
    text-decoration: none;
}

.hero-section {
    padding-bottom: 109px;
    background-image: url(../images/Happygirl.png), url(../images/linkedin.png), url(../images/google.png), url(../images/microsoftbing.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 300px) calc(50% + 11px), calc(50% + 250px) calc(50% - 235px), calc(50% + 155px) calc(50% - 76px), calc(50% + 100px) calc(50% + 100px);
}

.hero-section__wrapper {
    /* display: flex;
    flex-direction: column; */
}

.hero-section__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 94px;
    letter-spacing: 2px;
    color: #3D3D3F;
    width: 607px;
    margin-top: 0;
    margin-bottom: 53px;
}

span {
    color: #FD695A;
}

.hero-section__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 34px;
    color: #3D3D3F;
    opacity: 0.75;
    width: 464px;
    margin-top: 0;
    margin-bottom: 64px;
}

.site-header__end__link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background: #FD695A;
    border-radius: 50px;
    margin-right: 103px;
    padding: 15px 31px 16px 31px;
    text-decoration: none;
}

.site-header__end__span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FD695A;
}

.site-header__end__span::before {
    content: "";
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 100px) calc(50% + 200px);
    width: 100%;
    height: 100%;
}